@font-face  /* police du site*/
{
    font-family: 'Shrikhand';
    src: url('Polices/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot');
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Polices/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Polices/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	display: flex;
	flex-direction: column;
	width: 375px;
	margin: auto;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}
/* HEADER */

header{
	height: 100px;
	text-align: center;
	background-color: #FF0000;
}
header p{
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}
.titre{
    margin-bottom: 0;
	color: #FFFFFF;
}
.titrebis{
	color: #FFFFFF;
}

/* PRESENTATION */

#presentation{
    display: flex;
    background-color: #000000;
    bottom: 18px;
}
.portrait {
    vertical-align: middle;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}
.contact{
    font-size: 0.9em;
    padding: 0 15px 0 0;
}
.contact, a{
    text-decoration: none;
    color: #FFFFFF;
}
.coordonnees{
    font-weight: bold;
}

/* PRESTATION */

#prestations{
    background-color: #FF0000;
    padding-left: 20px;
}
#prestations h2{
    text-align: center;
    text-decoration: underline;
    padding: 0 20px 0 0;
}
#prestations img{
    border-radius: 20px 20px 0 0;
}
#prestations p{
    margin: 0;
    height: 60px;
    background-color: black;
    color: white;
    width: 93%;
    position: relative;
    bottom: 5px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    line-height: 60px;
}
.photo{
    padding: 10px 0 10px 0;
}
.patte{
    position: relative;
    float: right;
    padding: 10px 25px;
}
.ici
{
    position: relative;
    float: right;
    font-size: 0.8em;
    top: 4px;
    left: 51px;
    font-weight: bold;
}
.ici a{
    text-decoration: none;
    color: #b52525;
}