@font-face  /* police du site*/
{
    font-family: 'Shrikhand';
    src: url('Polices/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot');
    src: url('Polices/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Polices/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Polices/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Polices/Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	display: flex;
	flex-direction: column;
	width: 375px;
	margin: auto;
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}
/* HEADER */

header{
	height: 100px;
	text-align: center;
	background-color: #EAB51E;
}
header p{
    margin: 0;
    padding-left: 165px;
    font-weight: bold;
}
.titre{
    margin-bottom: 0;
	color: #996D05;
}
.titrebis{
	color: #0BB52E;
}
#presentation{
    display: flex;
    background-color: #383736;
    bottom: 18px;
}
.portrait {
    vertical-align: middle;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}
.contact{
    color: #FFFFFF;
}
